@import "../../sass/_variables";


.modal-ouibounce {
    position: relative;

    .ouibounce-overlay{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 30px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.8);
        z-index: $zindex-modal-ouibounce!important;

        .ouibounce-overlay__modal {
            max-height: 100%;
            position: relative;
            z-index: 1;
            margin: 0 auto;
            padding: 30px;
            background-color: $white;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .ouibounce-overlay__bg {
            position: absolute;
            bottom: 0;
            right:0;
            z-index: 1;
            display: none;
        }

        .ouibounce-overlay__close {
            position: absolute;
            top: 30px;
            right: 30px;
            z-index: 2;
            background: none;
            border: 0;
            outline: none;
            margin: 0;
            padding: 0;

            &:hover, &:focus, &:active {

                svg {
                    fill: $primary;

                    path {
                        fill: $primary;
                    }
                }
            }

            svg {
                width: 30px;
                height: 30px;
                fill: $lo-body-text;

                path {
                    fill: $lo-body-text;
                }
            }
        }

        .ouibounce-overlay__input {
            width: 100%;
            position: relative;
            z-index: 2;

            &.is-invalid {
                margin-bottom: 10px;

                svg {
                    display: none;
                }
            }

            input {
                border-radius: 0;
                padding: 10px 15px;
                border-color: #A2A2A2;
                color: #A2A2A2;
            }

            svg {
                width: 20px;
                height: 20px;
                position: absolute;
                top: 50%;
                right: 15px;
                z-index: 2;
                margin: -10px 0 0 0;
                fill: #A2A2A2;

                path {
                    color: #A2A2A2;
                }
            }
        }

        .ouibounce-overlay__tandcs {
            position: relative;
            z-index : 2;
            line-height: 16px;
        }
    }
}

@media screen and (min-width: $screen-lg) {
    .modal-ouibounce {

        .ouibounce-overlay{

            .ouibounce-overlay__modal {
                max-width: 900px;
                padding: 40px;
            }

            .ouibounce-overlay__close {
                top: 40px;
                right: 40px;
            }

            .ouibounce-overlay__bg {
                display: block;
            }
        }
    }
}