@import "../../../sass/variables";


.part-exchange {
    min-height: 720px;

    .px-input {
        position: relative;
        background: url(https://imagecdn.leasingoptions.co.uk/website/static/hero/part-exchange-input-bg.jpg) center center no-repeat;
        min-height: 492px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .enter-reg {
        width: 190px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -30px 0 0 -95px;
        padding: 2px;
        background-color: $lo-number-plate;
        border: 0;
        font-family: UKNumberPlate;
        font-size: 22px;
        line-height: 22px;
        color: $text-color;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
    }
}