@import "../../../sass/_variables";


.internal-details {
    position: relative;
    margin-bottom: 15px;

    &.is-active {

        .internal-details__info {
            display: block;
        }
    }

    .internal-details__header {
        position: relative;
        padding: 15px;
        font-weight: 500;
        background-color: #033c56;
        color: $white;
        cursor: pointer;
    }

    .internal-details__info {
        position: relative;
        display: none;
        padding: 8px;
        background: $light-grey;
        border: 1px solid #033c56;
    }
}